<!--thymeleaf init 코드-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>랭킹 Search 페이지</title>
    <!--rank-page-search css 경로 추가해줘-->
    <link rel="stylesheet" href="/css/game/rank-page-search.css?ver=20">
    <link rel="stylesheet" href="/css/v1.css?ver=1">
</head>
<body>
    <div id="header">
        <div id="group_nav_rank_page_search">
            <ul>
                <li class="li-menu-btn" onclick="goRankPageHtml()"  onmouseover="btnLight()">RANK PAGE</li>
                <li class="li-menu-btn" onclick="goHomeHtml()"  onmouseover="btnLight()">HOME</li>
            </ul>
        </div>
    </div>
    <div class="container_rank_page_serach_table">
        <!-- thymeleaf table code -->
        <table>
            <thead>
                <tr>
                    <th>순위</th>
                    <th>이름</th>
                    <th>점수</th>
                <tr>
                    <!-- 타임리프 th 코드 -->
                    <th th:text="${myRank}"></th>
                    <th th:text="${myRankName}"></th>
                    <th th:text="${myRankValue}"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="container_rank_page_seaerch_mid">
        <h1>랭킹 Search 결과입니다.</h1>   
    </div>    
</body>
<script type="text/javascript" src="../js/common.js?ver=221017"></script>
</html>