<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAME</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/game.css?ver=12">
    
</head>
<body>
    <div id="header">
        <div class="HomeMenu">
            <button class="ButtonManual1" id="bt_sty1" type="button" onclick="goHomeHtml()" style="cursor:pointer;"> HOME </button>
            <button class="ButtonManual1" id="bt_sty2" type="button" th:onclick="" style="cursor:pointer;"> STUDY </button>
            <button class="ButtonManual1" id="bt_sty3" type="button" th:onclick="" style="cursor:pointer;"> SHOP </button>
            <button class="ButtonManual1" id="bt_sty3" type="button" onclick="goGameHtml()" style="cursor:pointer;"> GAME </button>
        </div>
        
        <div id="obstacle_top1"></div>
        <form action="post" name="gameUserPost1" enctype="UTF-8">
            <div id="userNameDiv1">
                이름 입력해주세요.<br>
                <input class = "input-text" id ="userNameInput1" type="text" name="userName1" required maxlength="48" size="48"/>

                <div id="container">    
                    <img id="startImg1" src="../img/start_img2.png" alt="startBtn1" onclick="gameStart(userName1)" style="cursor:pointer;">
                </div>  

            </div>      
        </form>        
    </div>
    <div id="ball_1">
                
    </div>
    <div id="player_bar1"> </div>
    <div id="com_bar1"></div>
    <div id="obstacle1"></div>
    <div id="obstacle2"></div>

    <img id="stopImg1" src="../img/stop_img1.png" alt="stopBtn1" onclick="gameStop()" style="cursor:pointer;">
    <img id="resetImg1" src="../img/reset_img1.png" alt="resetBtn1" onclick="gameReset()" style="cursor:pointer;">
    
    
    <div id="obstacle_bottom1">
    
    </div>
</body>
<script type="text/javascript" src="../js/game.js?ver=68"></script>
<script type="text/javascript" src="../js/common.js?ver=1"></script>
</html>