<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello My Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/v1.css">
</head>
<body>
    <div id="header">
        <div class="HomeMenu">
            <button class="ButtonManual1" id="btHome" type="button" onclick="goHomeHtml()" style="cursor:pointer;"> HOME </button>
            <button class="ButtonManual1" id="btStudy" type="button" th:onclick="" style="cursor:pointer;"> STUDY </button>
            <button class="ButtonManual1" id="btShop" type="button" th:onclick="" style="cursor:pointer;"> SHOP </button>
            <button class="ButtonManual1" id="btGame" type="button" onclick="goGameHtml()" style="cursor:pointer;"> GAME </button>
            <button class="ButtonManual1" id="btRankPage" type="button" onclick="goRankPageHtml()" style="cursor:pointer;"> RANK PAGE </button>
        </div>
    </div>
    <div id="container">
        <hr id="lane1">
        <nav>
            <h1>Main Home</h1>
        </nav>

        <div id="dbMember">
            <p>회원 기능</p>
            <p>
                <a href="/members/new">회원가입</a>
                <a href="/members">회원목록</a>
            </p>
        </div>

    </div>
    <div id="footer">
        <hr class="lane2">
        <span id="last1">rlaal567@gmail.com<br></span>
        <span id="last2">
            <a href="https://github.com/kimminkuk/kimminkuk">
                https://github.com/kimminkuk/kimminkuk
            </a>
        </span>
    </div>
</body>
<script type="text/javascript" src="../js/common.js?ver=3"></script>
</html>