.group-nav-reserve-main {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 100;
}
.group-nav-reserve-main .li-original li {
    display: inline-block;
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
}

.group-nav-reserve-main .li-reserve-menu li {
    display: inline-block;
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
}

.reserve-item-make-body {
    display: none;
    position: absolute;
    left : 30%;
    width: 300px;
    height: 200px;
    padding: 1px;
    /*연한 회색으로*/
    background-color: #f2f2f2;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-iter-list-title {
    border: 1px solid #333;
    left: 0px;
    margin: 0px;
    width: 20%;
    height: 10%;
}

.reserve-iter-list-title-child {
    border: 1px solid #333;
    left: 400px;
}

.reserve-iter-list-time {    
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    
    /* background-color: #1212; */
}

.reserve-iter-list-title2 {
    /* border 1px 검은색 */
    border: 1px solid #333;
    
    /* 위, 아래 간격 없애줘 */
    margin-top: 0px;
    margin-bottom: 0px;

    /* 가로로 20개의 작은 배열로 나눠줘 그리고 칸을 구분해줘*/
    display: grid;
    
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    
    /* grid 칸을 나눠줘 */
    grid-gap: 1px;
}

.reserve-page-user-name {
    position: absolute;
    top: 90%;
    height: 5%;
    left: 80%;
    width: 15%;

    /* border 1px 검은색 */
    border: 1px solid #333;
    /* font는 굵은 검은색 */
    font-weight: 700;
    color: #333;

}
.reserve-page-user-name-text {
    position: relative;
    width: 100%;
    /* input의 위치를 중간으로 해줘 */
    height: 50%;
    /* 위, 아래 간격 없애줘 */
    margin-top: 0px;
    margin-bottom: 0px;

}
.reserve-main-item-make {
    display: none;
    position: absolute;
    top : 200px;
    left: 30%;
    width: 300px;
    height: 200px;
    /* 연한 회색으로 */
    background-color: #f2f2f2;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-popup-main {
    display: none;
    position: absolute;
    top : 100px;
    left : 500px;
    width: 300px;
    height: 200px;
    /*연한 회색으로*/
    background-color: #f2f2f2;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-popup-main .reserve-popup-main-title {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /* background-color: #fff; */
    border-bottom: 1px solid #eee;
    z-index: 100;
}

.reserve-popup-main .reserve-popup-main-title .reserve-popup-main-title-text {
    display: inline;
    position: relative;
    width: 80%;
    left: 0%;
    height: 40px;
    line-height: 40px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
    /* 글씨는 굵게 */
    font-weight: bold;
}

.reserve-popup-main .reserve-popup-main-title .reserve-popup-main-title-close {
    display: inline;
    position: relative;
    width: 10%;
    left: 50%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    
    /* border 1px 검은색 */
    border: 1px solid #333;

    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
    /* 글씨는 굵게 */
    font-weight: bold;
}

.reserve-popup-main .reserve-popup-main-title .reserve-popup-main-title-username {
    display: inline;
    position: relative;
    width: 80%;
    left: 0%;
    height: 40px;
    line-height: 40px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
    /* 글씨는 굵게 */
    font-weight: bold;
}

body > div.reserve-main-facility-table > table {
    position: absolute;
    width: 90%;
    left: 5%;
}

.th-header-date {
    position: relative;
    width: 100%;
    height: 20px;
}

.reserve-cur-date-left-btn {
    position: absolute;
    left: 40%;
    width: 5%;
}

.reserve-cur-date-list {
    position: absolute;
    left: 45%;
    width: 15%;
}

.reserve-cur-date-right-btn {
    position: absolute;
    left: 60%;
    width: 5%;    
}

/* 
 *    예약 페이지 확인 창 
 */

.reserve-confirm-page-main {
    display: none;
    position: absolute;
    top : 40%;
    left : 30%;
    width: 400px;
    height: 350px;
    /*연한 회색으로*/
    background-color: #f2f2f2;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-header {
    display: inline;
    position: relative;
    width: 80%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-close-btn {
    display: inline;
    position: relative;
    width: 20%;
    left: 80%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-header-sub {
    position: relative;
    width: 100%;
    left: 0%;
    top: 40px;
    height: 120px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-title {
    position: relative;
    width: 100%;
    left: 0%;
    top: 40px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}
.reserve-confirm-page-main .reserve-confirm-page-title .reserve-confirm-page-title-init {
    display: inline;
    width: 20%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
    /* 글씨는 굵게 */
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-title .reserve-confirm-page-title-text {
    display: inline;
    position: relative;
    width: 80%;
    left: 15%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time {
    position: relative;
    width: 100%;
    left: 0%;
    top: 40px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-init {
    display: inline;
    width: 20%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-hour-start {
    display: inline;
    width: 15%;
    left: 15%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-minute-start {
    display: inline;
    width: 15%;
    left: 30%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scorll-divide-text {
    display: inline;
    width: 5%;
    left: 50%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-hour-end {
    display: inline;
    width: 15%;
    left: 65%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-minute-end {
    display: inline;
    width: 15%;
    left: 80%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-place {
    display: inline;
    position: relative;
    width: 100%;
    left: 0%;
    top : 40px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-place .reserve-confirm-page-place-init {
    display: inline;
    width: 15%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-place .reserve-confirm-page-place-text {
    display: inline;
    width: 85%;
    left: 15%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-ok-parent {
    position: relative;
    width: 10%;
    left: 90%;
    top: 42px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-ok-parent .reserve-confirm-page-btn-ok {
    width: 100%;
    height: 100%;
    line-height: 30px;
    /* 버튼 색깔을 그라데이션 파란색으로 해줘 */
    background: linear-gradient(to bottom, #00bfff, #1e90ff);

    border: 1px solid #333;

    /* 텍스트 색은 흰색으로 해줘 굵게 */
    color: #fff;
    font-weight: bold;
    z-index: 100;
    text-align: center;
    font-size: 14px;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-cancel-parent {
    position: relative;
    width: 15%;
    left: 70%;
    top: 10px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-cancel-parent .reserve-confirm-page-btn-cancel {
    width: 100%;
    height: 100%;
    line-height: 30px;
    /* 버튼 색깔을 일반 흰색으로 해줘*/
    background-color: #fff;

    border: 1px solid #333;

    /* 텍스트 색은 검은색으로 해줘 */
    color: #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
}