.group-nav-reserve-main {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 100;
}
.group-nav-reserve-main .li-original li {
    display: inline-block;
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
}

.group-nav-reserve-main .li-reserve-menu li {
    display: inline-block;
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
}

.reserve-item-make-body {
    display: none;
    position: absolute;
    left : 30%;
    width: 300px;
    height: 200px;
    padding: 1px;
    /*연한 회색으로*/
    background-color: #f2f2f2;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-iter-list-title {
    border: 1px solid #333;
    left: 0px;
    margin: 0px;
    width: 20%;
    height: 10%;
}

.reserve-iter-list-title-child {
    border: 1px solid #333;
    left: 400px;
}

.reserve-iter-list-time {    
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    
    /* background-color: #1212; */
}

.reserve-iter-list-title2 {
    /* border 1px 검은색 */
    border: 1px solid #333;
    
    /* 위, 아래 간격 없애줘 */
    margin-top: 0px;
    margin-bottom: 0px;

    /* 가로로 20개의 작은 배열로 나눠줘 그리고 칸을 구분해줘*/
    display: grid;
    
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    
    /* grid 칸을 나눠줘 */
    grid-gap: 1px;
}

.reserve-page-user-name {
    position: absolute;
    top: 90%;
    height: 5%;
    left: 80%;
    width: 15%;

    /* border 1px 검은색 */
    border: 1px solid #333;
    /* font는 굵은 검은색 */
    font-weight: 700;
    color: #333;

}
.reserve-page-user-name-text {
    position: relative;
    width: 100%;
    /* input의 위치를 중간으로 해줘 */
    height: 50%;
    /* 위, 아래 간격 없애줘 */
    margin-top: 0px;
    margin-bottom: 0px;

}

/*
 *    예약 만들기 페이지
 */

.reserve-main-item-make {
    display: none;
    position: absolute;
    top : 200px;
    left: 30%;
    width: 200px;
    height: 110px;
    /* 연한 회색으로 */
    background-color: #f2f2f2;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-main-item-make .reserve-main-item-make-title-close {
    position: relative;
    top: 5px;
    left: 90%;
    width: 10%;
    height: 20px;
    font-weight: bold;
    font-size: 14px;
    color: #737373;
}

.reserve-main-item-make .reserve-main-item-make-title {
    position: relative;
    display: inline;
    width: 100%;
    left : 5%;
    top : 30px;
    height: 20px;
}

.reserve-main-item-make .reserve-main-item-make-title .reserve-main-item-make-title-text {
    position: relative;
    width: 70%;
    height: 20px;
}

.reserve-main-item-make .reserve-main-item-make-btn-send {
    position: relative;
    top : 40px;
    left: 55%;
    width: 40%;
    height: 20px;
    background-color: #00bfff;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border: 1px #333;
}


/*
 *    예약 핍업 페이지
 *    기본 백 그라운드 색: #FBFBFB
 */
.reserve-popup-main {
    display: none;
    position: absolute;
    top : 100px;
    left : 500px;
    width: 400px;
    height: 170px;
    /*연한 회색으로*/
    background-color: #FBFBFB;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-popup-main .reserve-popup-main-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #FBFBFB;
    z-index: 100;
    font-size: 20px;
}

.reserve-popup-main .reserve-popup-main-title .reserve-popup-main-title-text {
    display: inline;
    position: relative;
    left: 5%;
    height: 40px;
    line-height: 40px;
    /*border: 1px solid #FBFBFB;*/
    z-index: 100;
    text-align: center;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.reserve-popup-main .reserve-popup-main-title .reserve-popup-main-title-close {
    position: absolute;
    left: 95%;
    top: 0%;
    line-height: 40px;
    z-index: 100;
    text-align: center;
    font-size: 20px;
    color: #737373;
    /* 글씨는 굵게 */
    font-weight: bold;
}

.reserve-popup-main .reserve-popup-main-content {
    position: relative;
    width: 100%;
    height: 40px;
    left: 5%;
    line-height: 40px;
    z-index: 100;
}
.reserve-popup-main .reserve-popup-main-content .reserve-popup-main-content-init {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.reserve-popup-main .reserve-popup-main-content .reserve-popup-content-text {
    position: relative;
    display: inline;
    left: 5%;
    width: 70%;
    height: 20px;
}

.reserve-popup-main .reserve-popup-main-time {
    position: relative;
    width: 100%;
    height: 40px;
    left: 5%;
    line-height: 40px;
    z-index: 100;
}

.reserve-popup-main .reserve-popup-main-time .reserve-popup-main-time-init {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.reserve-popup-main .reserve-popup-main-time .reserve-popup-date-start {
    display: inline;
    position: relative;
    left: 5%;
    width: 15%;
    height: 20px;
}

.reserve-popup-main .reserve-popup-main-time .reserve-popup-date-start .reserve-date-start-text{
    height: 14px;
    width: 17%;
}

.reserve-popup-main .reserve-popup-main-time .reserve-popup-minute-scroll {
    display: inline;
    position: relative;
    left: 5%;
    width: 15%;
    height: 20px;
}

.reserve-popup-main .reserve-popup-main-time .reserve-popup-date-end {
    display: inline;
    position: relative;
    left: 5%;
    width: 15%;
    height: 20px;
}

.reserve-popup-main .reserve-popup-main-time .reserve-popup-date-end .reserve-date-end-text{
    height: 14px;
    width: 17%;
}

.reserve-popup-main .reserve-popup-main-time .reserve-popup-minute-scroll-end {
    display: inline;
    position: relative;
    left: 5%;
    width: 15%;
    height: 20px;
}

.reserve-popup-main .reserve-popup-main-btn {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    left: 5%;
    line-height: 40px;
    z-index: 100;
}

.reserve-popup-main .reserve-popup-main-btn .reserve-popup-btn-close {
    position: relative;
    left: 55%;
    width: 15%;
    height: 20px;
    line-height: 20px;
    background-color: #FBFBFB;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #737373;
    border: 1px #333;
    /* 글씨는 굵게 */
    font-weight: bold;
}

.reserve-popup-main .reserve-popup-main-btn .reserve-popup-btn-db-send {
    position: relative;
    left: 60%;
    width: 15%;
    height: 20px;
    background-color: #00bfff;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    border: 1px #333;
}

.reserve-popup-main .reserve-popup-main-title .reserve-popup-main-title-username {
    display: inline;
    position: relative;
    width: 80%;
    left: 0%;
    height: 40px;
    line-height: 40px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
    /* 글씨는 굵게 */
    font-weight: bold;
}

/* 예약 테이블  */

body > div.reserve-main-facility-table > table {
    position: absolute;
    width: 90%;
    left: 5%;
}

.reserve-main-table {
    top : 15%;
}

.th-header-date {
    top: -20%;
    position: absolute;
    width: 100%;
    height: 20px;
}

.reserve-cur-date-left-btn {
    position: absolute;
    left: 40%;
    width: 5%;
}

.reserve-cur-date-list {
    position: absolute;
    left: 45%;
    width: 15%;
}

.reserve-cur-date-right-btn {
    position: absolute;
    left: 60%;
    width: 5%;    
}
.reserve-main-table .reserve-main-table-thead .th-header-time1 .reserve-iter-list-time-header-1 {
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.reserve-main-table .reserve-main-table-thead .th-header-time1 .reserve-iter-list-time-header-2 {
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

.reserve-main-table .reserve-main-table-thead .th-header-time1 .th-header-time1-left-btn {
    position: absolute;
    top: 2%;
    left: 20%;
    font-size: 30px;
    color: #333;
    font-weight: bold;
}

.reserve-main-table .reserve-main-table-thead .th-header-time1 .th-header-time1-right-btn {
    position: absolute;
    top: 2%;
    left: 100%;
    font-size: 30px;
    color: #333;
    font-weight: bold;
}
/* 
 *    예약 페이지 확인 창 
 */

.reserve-confirm-page-main {
    display: none;
    position: absolute;
    top : 40%;
    left : 30%;
    width: 450px;
    height: 400px;
    
    background-color: #f5f5f5;

    
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-header {
    display: inline;
    position: relative;
    top : 5px;
    width: 80%;
    left: 5%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    /*border: 1px solid #333;*/
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-close-btn {
    display: inline;
    position: relative;
    width: 20%;
    left: 80%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    color: RED;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-header-sub {
    position: relative;
    width: 100%;
    left: 5%;
    top: 15px;
    height: 120px;
    line-height: 30px;
    /* background-color: #fff; */
    /*border: 1px solid #333;*/
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-title {
    position: relative;
    width: 100%;
    left: 5%;
    top: 20px;
    height: 20px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
}
.reserve-confirm-page-main .reserve-confirm-page-title .reserve-confirm-page-title-init {
    display: inline;
    width: 10%;
    left: 0%;
    height: 20px;
    line-height: 20px;
    /* background-color: #fff; */
    z-index: 100;
    text-align: center;
    font-size: 20px;
    color: #333;
    /* 글씨는 굵게 */
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-title .reserve-confirm-page-title-text {
    display: inline;
    position: relative;
    width: 70%;
    left: 5%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #333;
    z-index: 100;
    font-size: 20px;
    color: #333;
    background-color: #FFFFFF;
}

.reserve-confirm-page-main .reserve-confirm-page-time {
    position: relative;
    width: 100%;
    left: 5%;
    top: 40px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-init {
    display: inline;
    width: 20%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
    text-align: center;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-hour-start {
    display: inline;
    position: relative;
    width: 0%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-minute-start {
    display: inline;
    position: relative;
    width: 0%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scorll-divide-text {
    display: inline;
    width: 5%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-hour-end {
    display: inline;
    position: relative;
    width: 0%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time .reserve-confirm-page-time-scroll-minute-end {
    display: inline;
    position: relative;
    width: 0%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-place {
    position: relative;
    width: 100%;
    left: 5%;
    top : 60px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-place .reserve-confirm-page-place-init {
    display: inline;
    width: 15%;
    left: 0%;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
    font-size: 20px;
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-place .reserve-confirm-page-place-text {
    display: inline;
    position: relative;
    width: 70%;
    left: 5%;
    height: 30px;
    line-height: 30px;

    background-color: #FFFFFF;
    border: 1px solid #333;
    z-index: 100;
    font-size: 20px;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-ok-parent {
    position: relative;
    width: 15%;
    left: 83%;
    top: 102px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-ok-parent .reserve-confirm-page-btn-ok {
    width: 100%;
    height: 100%;
    line-height: 30px;
    /* 버튼 색깔을 밝은 파란색으로 해줘 */
    background-color: #00BFFF;
    /* 버튼 색깔을 그라데이션 파란색으로 해줘 */
    /* background: linear-gradient(to bottom, #00bfff, #1e90ff);*/

    border: 1px solid #333;

    /* 텍스트 색은 흰색으로 해줘 굵게 */
    color: #fff;
    font-weight: bold;
    z-index: 100;
    text-align: center;
    font-size: 14px;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-cancel-parent {
    position: relative;
    width: 20%;
    left: 60%;
    top: 70px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    border: 1px solid #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-btn-cancel-parent .reserve-confirm-page-btn-cancel {
    width: 100%;
    height: 100%;
    line-height: 30px;
    /* 버튼 색깔을 일반 흰색으로 해줘*/
    background-color: #fff;

    border: 1px solid #333;

    /* 텍스트 색은 검은색으로 해줘 */
    color: #333;
    z-index: 100;
    text-align: center;
    font-size: 14px;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-parent {
    position: relative;
    width: 100%;
    left: 5%;
    top: 50px;
    height: 30px;
    line-height: 30px;
    /* background-color: #fff; */
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-start-date {
    position: relative;
    display: inline;
    width: 10%;
    left: 20%;
    top: 40px;
    /* background-color: #fff; */
    z-index: 100;
    border: 1px #333;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-start-date .reserve-confirm-page-time-div-start-date-text {
    width: 15%;
    border: 1px #333;
    background-color: #ffffff;
    height: 20px;
    font-weight: bold;
}


.reserve-confirm-page-main .reserve-confirm-page-time-div-start-minute {
    position: relative;
    display: inline;
    width: 10%;
    left: 20%;
    top: 40px;
    /* background-color: #fff; */
    z-index: 100;
    border: 1px #333;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-start-minute .reserve-confirm-page-time-div-start-minute-text {
    width: 15%;
    border: 1px #333;
    background-color: #ffffff;
    height: 20px;
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-divide {
    position: relative;
    display: inline;
    width: 10%;
    left: 20%;
    top: 40px;
    /* background-color: #fff; */
    border: 1px #333;
    z-index: 100;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-divide .reserve-confirm-page-time-div-divide-text {
    width: 5%;
    border: 1px #333;
    background-color: #f5f5f5;
    height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-end-date {
    position: relative;
    display: inline;
    width: 10%;
    left: 20%;
    top: 40px;
    /* background-color: #fff; */
    border: 1px #333;
    z-index: 100;
    color: #333;
    
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-end-date .reserve-confirm-page-time-div-end-date-text {
    width: 15%;
    border: 1px #333;
    background-color: #ffffff;
    height: 20px;
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-end-minute {
    position: relative;
    display: inline;
    width: 10%;
    left: 20%;
    top: 40px;
    /* background-color: #fff; */
    border: 1px #333;
    z-index: 100;
    color: #333;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-end-minute .reserve-confirm-page-time-div-end-minute-text {
    width: 15%;
    border: 1px #333;
    background-color: #ffffff;
    height: 20px;
    font-weight: bold;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-title {
    position: relative;
    display: inline;
    width: 10%;
    left: 5%;
    top: 55px;
    color: #333;
    z-index: 100;
}

.reserve-confirm-page-main .reserve-confirm-page-time-div-title .reserve-confirm-page-time-div-title-text {
    top:5px;
    position: relative;
    width: 10%;
    border: 1px #333;
    background-color: #f5f5f5;
    height: 20px;
    font-weight: bold;
    font-size: 20px;
}

/* 달력 */
.reserve-popup-calendar-main {
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #1abc9c;
    text-align: center;
    z-index: 100;
    left : 30%;
    top : 20%;
}

.reserve-popup-calendar-main .calendar-month {
    position : relative;
    margin: 0;
    padding: 0;
}

.reserve-popup-calendar-main .calendar-month .calendar-month-prev {
    position : relative;
    display: inline;
    left: 0%;
    color : #c2e0c6;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.reserve-popup-calendar-main .calendar-month .calendar-text-year-month {
    display: inline;
    position : relative;
    color : #333;
    text-align: center;
    font-size: 14px;
    font-weight: bold;  
    padding: 10%;
}

.reserve-popup-calendar-main .calendar-month .calendar-month-next {
    position : relative;
    display: inline;
    color : #c2e0c6;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.reserve-popup-calendar-main .calendar-month .calendar-popup-close {
    position : absolute;
    display: inline;
    color : #777;
    text-align: center;
    font-size: 14px;
    right: 5%;
    top: 10%;
}

.reserve-popup-calendar-main .calendar-weekdays-ul {
    position : relative;
    display: inline;
    margin: 0;
    padding: 0;
}

.reserve-popup-calendar-main .calendar-weekdays-ul .calendar-weekdays-li {
    position : relative;
    display: inline-block;
    color: #FFFFFF;
    width: 11.6%;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

.reserve-popup-calendar-main .calendar-days-ul {
    padding: 10px 0;
    background: #eee;
    margin: 0;    
}

.reserve-popup-calendar-main .calendar-days-ul .calendar-day {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
    cursor: pointer;
    
}

.reserve-popup-calendar-main .calendar-days-ul .calendar-day .calendar-active {
    padding: 5px;
    background: #1abc9c;
    color: #FFFFFF !important
}

.reserve-popup-calendar-main .calendar-select-month-ul {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #eee;
}

.reserve-popup-calendar-main .calendar-select-month-ul .calendar-select-month-li {
    list-style-type: none;
    display: inline-block;
    width: 28.6%;
    text-align: center;
    color: #777;
}