.group-nav-reserve-main {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 100;
}
.group-nav-reserve-main .li-original li {
    display: inline-block;
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
}

.group-nav-reserve-main .li-reserve-menu li {
    display: inline-block;
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
}

.reserve-item-make-body {
    display: none;
    position: absolute;
    left : 30%;
    width: 300px;
    height: 200px;
    padding: 1px;
    /*연한 회색으로*/
    background-color: #f2f2f2;
    border: 1px solid #333;
    z-index: 100;
}

.reserve-iter-list-title {
    border: 1px solid #333;
    left: 0px;
    margin: 0px;
    width: 20%;
    height: 10%;
}

.reserve-iter-list-title-child {
    border: 1px solid #333;
    left: 400px;
}

.reserve-iter-list-time {    
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 50px;
    
    /* background-color: #1212; */
}

.reserve-iter-list-title2 {
    /* border 1px 검은색 */
    border: 1px solid #333;
    
    /* 위, 아래 간격 없애줘 */
    margin-top: 0px;
    margin-bottom: 0px;

    /* 가로로 20개의 작은 배열로 나눠줘 그리고 칸을 구분해줘*/
    display: grid;
    
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 1fr;
    
    /* grid 칸을 나눠줘 */
    grid-gap: 1px;
}