<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello My Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="../css/v1.css?ver=221017">
    <link rel="stylesheet" href="/css/reserve/reserve-main.css?ver=221108-02">
</head>
<body>
    <div id="header">
        <div class="group-nav-reserve-main">
            <ul>
                <div class="li-original">
                    <li class="li-menu-btn" onclick="goHomeHtml()"  onmouseover="btnLight()" >HOME</li>
                </div>
            </ul>

            <ul>
                <div class="li-reserve-menu">
                    <li class="li-menu-btn" id="reserveItemMakeBtn" onclick="reserveItemMake()"  onmouseover="btnLight()" >항목만들기</li>
                    <li class="li-menu-btn" id="reserveItemDeleteBtn" onclick="reserveDelVisible()"  onmouseover="btnLight()" >항목 지우기</li>
                </div>                
            </ul>
        </div>
    </div>
    <div class="reserve-main-facility-table">
        <!-- thymeleaf table code -->
        <table>
            <thead>
                <tr class="th-header-date">
                    <th></th>
                    <!-- 마우스 올리면 손가락 모양 나오게 -->
                    <th class="reserve-cur-date-left-btn" onclick="reserveDayLeft()" onmouseover="btnLightVer2()"><<<</th>
                    <th class="reserve-cur-date-list" onclick="reserveDaySelect()" onmouseover="btnLightVer2()"> 오늘 날짜 표시 xxxx-xx-xx (xxx)</th>
                    <th class="reserve-cur-date-right-btn" onclick="reserveDayRight()" onmouseover="btnLightVer2()">>>></th>
                <tr>

                <!-- [시간1] 맨 위에 헤더 개념으로 하나 더 생성 -->
                <tr class="th-header-time1">
                    <th class="reserve-iter-list-number-header-1"></th>
                    <th class="reserve-iter-list-title-header-1"></th>
                    <th class="reserve-iter-list-time-header-1"></th>
                </tr>                
                
                <!-- [시간2] 맨 위에 헤더 개념으로 하나 더 생성 -->
                <tr class="th-header-time2">
                    <th class="reserve-iter-list-number-header-2"></th>
                    <th class="reserve-iter-list-title-header-2"></th>
                    <th class="reserve-iter-list-time-header-2"></th>
                </tr>

                <!-- thymeleaf iter -->
                <tr th:each="facility, iter : ${reserveFacAll}">
                    <th class="reserve-iter-list-number" th:text="${iter.index + 1}"></th>
                    <th class="reserve-iter-list-title" th:text="${facility.reserveFacTitle}"></th>
                    <th class="reserve-iter-list-time" th:value="${facility.reserveTime}"></th>
                    <th class="reserve-iter-list-username" th:value="${facility.userName}"></th>
                </tr>       
            </thead>
        </table>
    </div>
    <!-- 예약 창 팝업 -->
    <div class="reserve-popup-main" style="display:none;">
        <div class="reserve-popup-main-title">
            <div class="reserve-popup-main-title-text">설비이름</div>
            <div class="reserve-popup-main-title-close" onclick="reservePopupClose()">X</div>
        </div>
        
        <div class="reserve-popup-main-title-username">유저이름</div>

        <div class="reserve-popup-main-content" >
            <input type="text" id="reservePopupContent" placeholder="예약 항목을 입력해주세요.">

        </div>
        <div class="reserve-popup-main-time">
            <div class="reserve-popup-time-scroll">
                <select id="reservePopupTimeScroll">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>                    
                </select>
            </div>
            <div class="reserve-popup-minute-scroll">
                <select id="reservePopupMinuteScroll">
                    <option value="00">00</option>
                    <option value="30">30</option>
                </select>
            </div>    
        </div>

        <div class="reserve-popup-main-time-end">
            <div class="reserve-popup-time-scroll-end">
                <select id="reservePopupTimeScrollEnd">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>                    
                </select>
            </div>
            <div class="reserve-popup-minute-scroll-end">
                <select id="reservePopupMinuteScrollEnd">
                    <option value="00">00</option>
                    <option value="30">30</option>
                </select>
            </div>    
        </div>

        <div class="reserve-popup-main-btn">
            <input type="submit" class="reserve-popup-btn" value="예약하기" id="reservePopupBtn" onclick="makeFacReserveTimeForDbBtn()">
        </div>        
    </div>

    <div class="reserve-main-item-make">
        <div class="reserve-main-item-make-title">
            <input type="text" id="reserveMainItemTitle" placeholder="예약 항목을 입력해주세요.">
        </div>
        <div class="reserve-main-item-make-btn">
            <input type="submit" value="항목 만들기" id="reserveMainItemMakeBtn" onclick="reserveMainItemMakeBtnFunc()">
        </div>        
    </div>
    <div class="reserve-item-make-body" style="display:none;">
            <div class="reserve-item-time">
                <input type="text" id="reserveItemTime" placeholder="예약시간을 설정해주세요.">
            </div>
            <!-- 시간 스크롤 -->
            <div class="reserve-item-time-scroll">
                <select id="reserveItemTimeScroll">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
            </div>
            <div class="reserve-item-minute-scroll">
                <select id="reserveItemMinuteScroll">
                    <option value="00">00</option>
                    <option value="30">30</option>
                </select>
            </div>                 
            <div class="reserve-item-make-body-btn">
                <input type="submit" value="만들기" id="reserveItemMakeBodyBtn" onclick="reserveItemMakeBodyBtn()">
            </div>
    </div>
    <div class="reserve-page-user-name">
        <input type="text" id="reservePageUserNameText" class="reserve-page-user-name-text" placeholder="현재 예약자 ID 입력" maxlength="72">
    </div>
</body>
<script type="text/javascript" src="../js/reserve/reserve-main.js?ver=221108-04"></script>
<script type="text/javascript" src="../js/common.js?ver=221018-1"></script>
</html>