<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello My Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="../css/v1.css?ver=221017">
    <link rel="stylesheet" href="../css/reserve/reserve-main.css?ver=221205-09">
</head>
<body>
    <div id="header">
        <div class="group-nav-reserve-main">
            <ul>
                <div class="li-original">
                    <li class="li-menu-btn" onclick="goHomeHtml()">HOME</li>
                </div>
            </ul>

            <ul>
                <div class="li-reserve-menu">
                    <li class="li-menu-btn" id="reserveItemMakeBtn" onclick="reserveItemMake()">항목만들기</li>
                    <li class="li-menu-btn" id="reserveItemDeleteBtn" onclick="reserveDelVisible()">항목 지우기</li>
                </div>                
            </ul>
        </div>
    </div>
    <div class="reserve-main-facility-table">
        <!-- thymeleaf table code -->
        <table class="reserve-main-table">
            <thead class="reserve-main-table-thead">
                <tr class="th-header-date">
                    <th></th>
                    <!-- 마우스 올리면 손가락 모양 나오게 -->
                    <th class="reserve-cur-date-left-btn"><<<</th>
                    <th class="reserve-cur-date-list" > 0000-00-00</th>
                    <th class="reserve-cur-date-right-btn">>>></th>
                <tr>

                <!-- [시간1] 맨 위에 헤더 개념으로 하나 더 생성 -->
                <tr class="th-header-time1">
                    <th class="reserve-iter-list-number-header-1"></th>
                    <th class="reserve-iter-list-title-header-1"></th>
                    <th class="reserve-iter-list-time-header-1"></th>
                    <th class="reserve-iter-list-time-header-2"></th>
                    <div class="th-header-time1-left-btn"><</div>
                    <div class="th-header-time1-right-btn">></div>
                </tr>                
                
                <!-- [시간2] 맨 위에 헤더 개념으로 하나 더 생성 -->
                <tr class="th-header-time2">
                    <th class="reserve-iter-list-number-header-2"></th>
                    <th class="reserve-iter-list-title-header-2"></th>
                    <!--<th class="reserve-iter-list-time-header-2"></th>-->
                </tr>

                <!-- thymeleaf iter -->
                <tr th:each="facility, iter : ${reserveFacAll}">
                    <th class="reserve-iter-list-number" th:text="${iter.index + 1}"></th>
                    <th class="reserve-iter-list-title" th:text="${facility.reserveFacTitle}"></th>
                    <th class="reserve-iter-list-time" th:value="${facility.reserveTime}"></th>
                    <th class="reserve-iter-list-username" th:value="${facility.userName}"></th>
                </tr>       
            </thead>
        </table>
    </div>

    <!-- 예약 창 팝업 -->
    <div class="reserve-popup-main" style="display:none;">
        <div class="reserve-popup-main-title">
            <div class="reserve-popup-main-title-text">설비이름</div>
            <div class="reserve-popup-main-title-close">X</div>
        </div>

        <div class="reserve-popup-main-content" >
            <div class="reserve-popup-main-content-init">제목</div>
            <input type="text" id="reservePopupContent" class="reserve-popup-content-text" placeholder="예약 항목을 입력해주세요.">
        </div>
        <div class="reserve-popup-main-time">
            <div class="reserve-popup-main-time-init">일시</div>

            <div class="reserve-popup-date-start">
                <input type="text" readonly="true" id="reserveDateStartText" class="reserve-date-start-text">
                <!-- <select id="reservePopupTimeScroll">
                  
                </select> -->
            </div>
            <div class="reserve-popup-minute-scroll">
                <select id="reservePopupMinuteScroll">

                </select>
            </div>    
            <div class="reserve-popup-date-end">
                <input type="text" readonly="true" id="reserveDateEndText" class="reserve-date-end-text">
                <!-- <select id="reservePopupTimeScrollEnd">
              
                </select> -->
            </div>
            <div class="reserve-popup-minute-scroll-end">
                <select id="reservePopupMinuteScrollEnd">

                </select>
            </div>            
        </div>

        <div class="reserve-popup-main-btn">
            <input type="submit" class="reserve-popup-btn-close" value="취소하기" id="reservePopupBtnClose">
            <input type="submit" class="reserve-popup-btn-db-send" value="예약하기" id="reservePopupBtn">
        </div>

    </div>

    <!-- 항목 만들기 창 -->
    <div class="reserve-main-item-make">
        <div class="reserve-main-item-make-title-close">X</div>

        <div class="reserve-main-item-make-title">
            <input type="text" id="reserveMainItemTitleText" class="reserve-main-item-make-title-text" placeholder="예약 항목을 입력해주세요.">
        </div>
        
        <div class="reserve-main-item-make-btn">
            <input type="submit" value="항목 만들기" id="reserveMainItemMakeBtnSend" class="reserve-main-item-make-btn-send">
        </div>        
    </div>

    <!-- 임시 아이디 제공 -->
    <div class="reserve-page-user-name">
        <input type="text" id="reservePageUserNameText" class="reserve-page-user-name-text" placeholder="현재 예약자 ID 입력" maxlength="72">
    </div>

    <!-- 예약 확인 창 -->
    <div class="reserve-confirm-page-main" style="display: none;">
        <div class="reserve-confirm-page-header">
            예약 완료
        </div>
        <div class="reserve-confirm-page-close-btn">
            X
        </div>        
        <div class="reserve-confirm-page-header-sub">
            회의실이 예약되었습니다.<br>
            예약자는 예약 확인 페이지에서 예약을 확인할 수 있습니다.<br>
            해당 일정 삭제 시, 회의실 예약도 함께 삭제됩니다.
        </div>

        <div class="reserve-confirm-page-title">
            <div class="reserve-confirm-page-title-init">제목</div>
            <input type="text" readonly="true" id="reserveConfirmPageTitleText" class="reserve-confirm-page-title-text" placeholder="">
        </div>

        <div class="reserve-confirm-page-time-div-title">
            <div class="reserve-confirm-page-time-div-title-text">
                일시
            </div>
        </div>

        <div class="reserve-confirm-page-time-div-start-date">
            <input type="text" readonly="true" class="reserve-confirm-page-time-div-start-date-text" value="0000-00-00">
        </div>

        <div class="reserve-confirm-page-time-div-start-minute">
            <input type="text" readonly="true" class="reserve-confirm-page-time-div-start-minute-text" value="00:00">
        </div>

        <div class="reserve-confirm-page-time-div-divide">
            <input type="text" readonly="true" class="reserve-confirm-page-time-div-divide-text" value="~">
        
        </div>

        <div class="reserve-confirm-page-time-div-end-date">
            <input type="text" readonly="true" class="reserve-confirm-page-time-div-end-date-text" value="0000-01-01">
        </div>

        <div class="reserve-confirm-page-time-div-end-minute">
            <input type="text" readonly="true" class="reserve-confirm-page-time-div-end-minute-text" value="01:00">
        </div>  

        <div class="reserve-confirm-page-place">
            <div class="reserve-confirm-page-place-init">
                장소
            </div>
            <input type="text" readonly="true" id="reserveConfirmPagePlaceText" class="reserve-confirm-page-place-text" placeholder="">
        </div>
        
        <div class="reserve-confirm-page-btn-ok-parent">
            <input type="submit" value="확인" id="reserveConfirmPageBtnOk" class="reserve-confirm-page-btn-ok">
        </div>

        <div class="reserve-confirm-page-btn-cancel-parent">
            <input type="submit" value="예약취소" id="reserveConfirmPageBtnCancel" class="reserve-confirm-page-btn-cancel">
        </div>
    </div>

    <!-- 달력 코드 -->
    <div class="reserve-popup-calendar-main" style="display: none;">
        <div class="calendar-month">
            <div class="calendar-month-prev">&#10094;</div>
            <div class="calendar-text-year-month">2022-11</div>
            <div class="calendar-month-next">&#10095;</div>
            <div class="calendar-popup-close">X</div>
        </div>

        <ul class="calendar-weekdays-ul">
            <li class="calendar-weekdays-li">Sun</li>
            <li class="calendar-weekdays-li">Mon</li>
            <li class="calendar-weekdays-li">Tue</li>
            <li class="calendar-weekdays-li">Wed</li>
            <li class="calendar-weekdays-li">Thu</li>
            <li class="calendar-weekdays-li">Fri</li>
            <li class="calendar-weekdays-li">Sat</li>
        </ul>

        <!--<ul class="calendar-days-ul">

        </ul>-->
        <ul class="calendar-select-month-ul" style="display: none;">
            <li class="calendar-select-month-li">1</li>
            <li class="calendar-select-month-li">2</li>
            <li class="calendar-select-month-li">3</li>
            <li class="calendar-select-month-li">4</li>
            <li class="calendar-select-month-li">5</li>
            <li class="calendar-select-month-li">6</li>
            <li class="calendar-select-month-li">7</li>
            <li class="calendar-select-month-li">8</li>
            <li class="calendar-select-month-li">9</li>
            <li class="calendar-select-month-li">10</li>
            <li class="calendar-select-month-li">11</li>
            <li class="calendar-select-month-li">12</li>
        </ul>
    </div>  
</body>
<script type="text/javascript" src="../js/reserve/reserve-main.js?ver=221210-11"></script>
<script type="text/javascript" src="../js/common.js?ver=221018-1"></script>
</html>