<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello My Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="../css/v1.css?ver=221017">
    <link rel="stylesheet" href="/css/reserve/reserve-main.css?ver=221022-7">
</head>
<body>
    <div id="header">
        <div class="group-nav-reserve-main">
            <ul>
                <div class="li-original">
                    <li class="li-menu-btn" onclick="goHomeHtml()"  onmouseover="btnLight()" >HOME</li>
                </div>
            </ul>

            <ul>
                <div class="li-reserve-menu">
                    <li class="li-menu-btn" id="reserveItemMakeBtn" onclick="reserveItemMake()"  onmouseover="btnLight()" >항목만들기</li>
                </div>                
            </ul>
        </div>
    </div>
    <div class="reserve-main-facility-table">
        <!-- thymeleaf table code -->
        <table>
            <thead>
                <tr>
                    <th>순서</th>
                    <th>설비명</th>
                    <th style="width:100%; height:30px;">예약시간</th>
                <tr>
                <!-- thymeleaf iter -->
                <tr th:each="facility, iter : ${reserveFacilityTitles}">
                    <th class="reserve-iter-list-number" th:text="${iter.index + 1}"></th>
                    <th class="reserve-iter-list-title" th:text="${facility.title}"></th>
                    <th class="reserve-iter-list-time"></th>
                </tr>       
            </thead>
        </table>
    </div>    
    <div class="reserve-main-item-make" style="display:none;">
        <div class="reserve-main-item-make-title">
            <input type="text" id="reserveMainItemTitle" placeholder="예약 항목을 입력해주세요.">
        </div>
        <div class="reserve-main-item-make-btn">
            <input type="submit" value="항목 만들기" id="reserveMainItemMakeBtn" onclick="reserveMainItemMakeBtn()">
        </div>        
    </div>
    <div class="reserve-item-make-body" style="display:none;">
            <div class="reserve-item-time">
                <input type="text" id="reserveItemTime" placeholder="예약시간을 설정해주세요.">
            </div>
            <!-- 시간 스크롤 -->
            <div class="reserve-item-time-scroll">
                <select id="reserveItemTimeScroll">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>                    
                </select>
            </div>
            <div class="reserve-item-minute-scroll">
                <select id="reserveItemMinuteScroll">
                    <option value="00">00</option>
                    <option value="30">30</option>
                </select>
            </div>                 
            <div class="reserve-item-make-body-btn">
                <input type="submit" value="만들기" id="reserveItemMakeBodyBtn" onclick="reserveItemMakeBodyBtn()">
            </div>
    </div>
</body>
<script type="text/javascript" src="../js/reserve/reserve-main.js?ver=221022-11"></script>
<script type="text/javascript" src="../js/common.js?ver=221018-1"></script>
</html>