<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>콴트페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="../css/v1.css?ver=221017">
    <link rel="stylesheet" href="../css/quant/quant-main.css?ver=220102-02">
</head>
<body>
    <div id="header">
        <div id="group_nav">
            <ul>
                <li class="li-menu-btn" onclick="goHomeHtml()"  onmouseover="btnLight()" >HOME</li>
            </ul>
        </div>
    </div>
    
    <hr>

    <div class="group-quant-top-1">
        <div class="strategy-text">전략 설정</div>
        <select class="strategy-list"></select>

        <div class="strategy-description">전략 설명</div>

        <input type="text" class="status-save-text" value="저장할 내용을 설정해주세요.">
        <div class="status-save">현재 상태 저장</div>
    </div>
    
    <div class="group-quant-top-2">
        <div class="search-parsing">
            <div class="search-parsing-btn">네이버 파싱</div>
            <div class="search-parsing-update-date-text">최종: 2023-01-01</div>
        </div>
        <div class="search-memory">
            <div class="search-memory-btn">엑셀 자료로 검색</div>
            <div class="search-memory-update-date-text">최종: 2023-01-01</div>
        </div>
        <div class="search-load-data">
            <div class="search-load-data-btn">저장 데이터 불러오기</div>
            <div class="search-load-data-update-date-text">최종: 2023-01-01</div>
        </div>
    </div>

    <div class="group-quant-mid-1">
        <div class="group-quant-mid-1-left-1">
            <div class="company-info-market-capitalization-ranking-high">
                <input type="text" class="market-capitalization-ranking-high-input-data" value="x">
                <div class="market-capitalization-ranking-high-text">시가총액 상위 순위</div>
            </div>
            <div class="company-info-market-capitalization-ranking-low">
                <input type="text" class="market-capitalization-ranking-low-input-data" value="x">
                <div class="market-capitalization-ranking-low-text">시가총액 하위 순위</div>
            </div>            
            <div class="company-info-market-capitalization-percent-high">
                <input type="text" class="market-capitalization-percent-high-input-data" value="x">
                <div class="market-capitalization-percent-high-text">시가총액 상위 페센트</div>
            </div>
            <div class="company-info-market-capitalization-percent-low">
                <input type="text" class="market-capitalization-percent-low-input-data" value="x" >
                <div class="market-capitalization-percent-low-text">시가총액 하위 퍼센트</div>
            </div>            
            <div class="company-info-operating-profit-ratio">
                <input type="text" class="operating-profit-ratio-input-data" value="x">
                <div class="operating-profit-ratio-text">영업이익률</div>
            </div>
            <div class="company-info-net-profit-ration">
                <input type="text" class="net-profit-ration-input-data" value="x">
                <div class="net-profit-ration-text">순이익률</div>
            </div>
            <div class="company-info-roe">
                <input type="text" class="roe-input-data" value="x">
                <div class="roe-text">ROE</div>
            </div>
            <div class="company-info-roa">
                <input type="text" class="roa-input-data" value="x">
                <div class="roa-text">ROA</div>
            </div>
            <div class="company-info-debt-ratio">
                <input type="text" class="debt-ratio-input-data" value="x">
                <div class="debt-ratio-text">부채비율</div>
            </div>
            <div class="company-info-capital-retention-rate">
                <input type="text" class="capital-retention-rate-input-data" value="x">
                <div class="capital-retention-rate-text">자본유보율</div>
            </div>
            <div class="company-info-eps">
                <input type="text" class="eps-input-data" value="x">
                <div class="eps-text">EPS</div>
            </div>
            <div class="company-info-per">
                <input type="text" class="per-input-data" value="x">
                <div class="per-text">PER</div>
            </div>
            <div class="company-info-bps">
                <input type="text" class="bps-input-data" value="x">
                <div class="bps-text">BPS</div>
            </div>
            <div class="company-info-pbr">
                <input type="text" class="pbr-input-data" value="x">
                <div class="pbr-text">PBR</div>
            </div>
            <div class="company-info-cash-dps">
                <input type="text" class="cash-dps-input-data" value="x">
                <div class="cash-dps-text">현금배당수익률</div>
            </div>
            <div class="company-info-dividend-yield">
                <input type="text" class="dividend-yield-input-data" value="x">
                <div class="dividend-yield-text">배당수익률</div>
            </div>
        </div>

        <div class="group-quant-mid-1-left-2">

        </div>
    </div>
</body>
<script type="text/javascript" src="../js/quant/quant-main.js?ver=230102-02"></script>
<script type="text/javascript" src="../js/common.js?ver=2230101-15"></script>
</html>
