<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>콴트페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" href="../css/v1.css?ver=221017">
    <link rel="stylesheet" href="../css/quant/quant-main.css?ver=230129-01">
</head>
<body>
    <div id="header">
        <div id="group_nav">
            <ul>
                <li class="li-menu-btn" onclick="goHomeHtml()"  onmouseover="btnLight()" >HOME</li>
            </ul>
        </div>
    </div>
    
    <hr>

    <div class="group-quant-top-1">
        <div class="strategy-text">전략 설정</div>
        <select class="strategy-list">
            <option th:value="${quantStrategyMember.strategyTitle}" th:text="${quantStrategyMember.strategyTitle}">전략을 선택해주세요.</option>
            <option th:each="strategy : ${quantStrategyMembers}" th:value="${strategy.strategyTitle}" th:text="${strategy.strategyTitle}"></option>
        </select>
        
        <div class="strategy-description">전략 설명</div>

        <input type="text" class="strategy-save-text" value="저장할 내용을 설정해주세요.">
        <div class="strategy-save">전략 저장</div>
        <div class="strategy-delete">전략 삭제</div>
    </div>
    
    <div class="group-quant-top-2">
        
        <!-- <div class="test-1">
            <input type="text" class="test-1-data">
            <div class="test-1-text">canvas.width</div>
        </div>
        <div class="test-2">
            <input type="text" class="test-2-data">
            <div class="test-2-text">canvas.height</div>
        </div> -->

        <div class="simulator-date-month-1">
            <div class="month-1-btn" id="one-month" value="1">1개월</div>
        </div>

        <div class="simulator-date-month-2">
            <div class="month-2-btn" id="two-month" value="2">2개월</div>
        </div>

        <div class="simulator-date-month-6">
            <div class="month-6-btn" id="six-month" value="6">6개월</div>
        </div>

        <div class="simulator-date-month-sel">
            <div class="month-sel-btn" id="sel-month" value="0">기타</div>
        </div>

        <div class="search-parsing">
            <div class="search-parsing-btn">네이버 파싱</div>
            <div class="search-parsing-update-date-text" th:value="${parsingDateMember.parsingDate}" th:text="${parsingDateMember.parsingDate}">최종: 2023-01-01</div>
        </div>
        <div class="search-memory">
            <div class="search-memory-btn">엑셀 자료로 검색</div>
            <div class="search-memory-update-date-text">최종: 2023-01-01</div>
        </div>
        <div class="load-data-parsing">
            <div class="load-data-parsing-btn">파싱 데이터 불러오기</div>
            <div class="load-data-parsing-update-date-text" th:value="${parsingDateMember.parsingDate}" th:text="${parsingDateMember.parsingDate}">최종: 2023-01-01</div>
        </div>
        <div class="load-data-memory">
            <div class="load-data-memory-btn">엑셀 데이터 불러오기</div>
            <div class="load-data-memory-update-date-text">최종: 2023-01-01</div>
        </div>        
    </div>

    <div class="group-quant-mid-1">
        <div class="group-quant-mid-1-left-1">
            <div class="company-info-market-capitalization-ranking-high">
                <input type="text" class="market-capitalization-ranking-high-input-data" value="x" th:value="${strategyInfo.capitalRankingHigh}">
                <div class="market-capitalization-ranking-high-text">시가총액 상위 순위</div>
            </div>
            <div class="company-info-market-capitalization-ranking-low">
                <input type="text" class="market-capitalization-ranking-low-input-data" value="x" th:value="${strategyInfo.capitalRankingLow}">
                <div class="market-capitalization-ranking-low-text">시가총액 하위 순위</div>
            </div>            
            <div class="company-info-market-capitalization-percent-high">
                <input type="text" class="market-capitalization-percent-high-input-data" value="x" th:value="${strategyInfo.capitalPercentHigh}">
                <div class="market-capitalization-percent-high-text">시가총액 상위 페센트</div>
            </div>
            <div class="company-info-market-capitalization-percent-low">
                <input type="text" class="market-capitalization-percent-low-input-data" value="x" th:value="${strategyInfo.capitalPercentLow}">
                <div class="market-capitalization-percent-low-text">시가총액 하위 퍼센트</div>
            </div>
            
            <div class="company-info-market-capitalization">
                <input type="text" class="market-capitalization-input-data" value="x" th:value="${strategyInfo.marketCapitalization}">
                <div class="market-capitalization-text">시가총액(억)</div>
            </div>

            <div class="company-info-operating-profit-ratio">
                <input type="text" class="operating-profit-ratio-input-data" value="x" th:value="${strategyInfo.operatingProfitRatio}">
                <div class="operating-profit-ratio-text">영업이익률(%)</div>
            </div>
            <div class="company-info-net-profit-ration">
                <input type="text" class="net-profit-ration-input-data" value="x" th:value="${strategyInfo.netProfitRation}">
                <div class="net-profit-ration-text">순이익률(%)</div>
            </div>
            <div class="company-info-roe">
                <input type="text" class="roe-input-data" value="x" th:value="${strategyInfo.roe}">
                <div class="roe-text">ROE(%)    [ROE = 당기 순이익 / 평균자기자본 * 100]</div>
            </div>
            <div class="company-info-roa">
                <input type="text" class="roa-input-data" value="x" th:value="${strategyInfo.roa}">
                <div class="roa-text">ROA(%)    [ROA = 당기 순이익 / 총 자산(부채 + 자기자본) * 100]</div>
            </div>
            <div class="company-info-debt-ratio">
                <input type="text" class="debt-ratio-input-data" value="x" th:value="${strategyInfo.debtRatio}">
                <div class="debt-ratio-text">부채비율(%)    [부채비율 = 부채총계 / 자본총계 * 100]</div>
            </div>
            <div class="company-info-capital-retention-rate">
                <input type="text" class="capital-retention-rate-input-data" value="x" th:value="${strategyInfo.capitalRetentionRate}">
                <div class="capital-retention-rate-text">유보율(%)    [유보율 = 잉여금 / 납입자본금]</div>
            </div>
            <div class="company-info-eps">
                <input type="text" class="eps-input-data" value="x" th:value="${strategyInfo.eps}">
                <div class="eps-text">EPS(원)    [주당순이익 = 예상 순이익 / 발생주식수]</div>
            </div>
            <div class="company-info-per">
                <input type="text" class="per-input-data" value="x" th:value="${strategyInfo.per}">
                <div class="per-text">PER    [주가수익비율(PER) = 주가 / 예상 주당순이익]</div>
            </div>
            <div class="company-info-bps">
                <input type="text" class="bps-input-data" value="x" th:value="${strategyInfo.bps}">
                <div class="bps-text">BPS(원)    [주당순자산 = 순자산 / 총 주식수]</div>
            </div>
            <div class="company-info-pbr">
                <input type="text" class="pbr-input-data" value="x" th:value="${strategyInfo.pbr}">
                <div class="pbr-text">PBR    [PBR(주가 순자산 비율) = 시가총액 / 순자산]</div>
            </div>
            <div class="company-info-cash-dps">
                <input type="text" class="cash-dps-input-data" value="x" th:value="${strategyInfo.cashDps}">
                <div class="cash-dps-text">주당배당금(원)</div>
            </div>
            <div class="company-info-dividend-yield">
                <input type="text" class="dividend-yield-input-data" value="x" th:value="${strategyInfo.dividendYield}">
                <div class="dividend-yield-text">시가배당률(%)</div>
            </div>
            <div class="company-info-sales">
                <input type="text" class="sales-input-data" value="x" th:value="${strategyInfo.sales}">
                <div class="sales-text">매출액(억)</div>
            </div>
        </div>

        <div class="group-quant-mid-1-left-2">
            <!--thymeleaf iter-->
            <table class="group-quant-mid-1-left-2-table">
                <tr th:if="${#lists.isEmpty(parsingData)}">
                    <td colspan="2" th:inline="text" th:text="'NO MATCHING DATA'"></td>
                </tr>
                <tr th:each="compnayName, iter : ${parsingData}" class="quant-table-th" th:if="${not #lists.isEmpty(parsingData)}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${compnayName}"></td>
                </tr>
            </table>
        </div>
        <div class="group-quant-mid-1-left-3-graph">
            <canvas class="group-quant-mid-1-left-3-graph-canvas" id="myCanvas">
                
            </canvas>
        </div>
    </div>
    <div class="group-quant-mid-1-left-2-bottom-1">
        <div class="save-data-parsing">
            <div class="save-parsing-btn">결과 저장</div>
            <!--<input type="file" id="file-input" class="save-parsing-btn-type-file">-->
        </div>
    </div>
</body>
<!--<script type="text/javascript" src="../js/quant/quant-main.js?ver=230124-02"></script>-->
<!--<script type="text/javascript" src="../js/quant/daily.js?ver=230124-02"></script>-->
<script type="module" src="../js/quant/dailyRate.js?ver=230129-01"></script>
<script type="module" src="../js/quant/dailyDate.js?ver=230129-01"></script>
<script type="module" src="../js/quant/dailyIndexRate.js?ver=230131-03"></script>
<script type="module" src="../js/quant/quant-main.js?ver=230131-05"></script>
<script type="text/javascript" src="../js/common.js?ver=2230101-15"></script>
</html>
