#line2 {
    top : 100px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
}

#ball_1 {
    position: absolute;
    background-color: blueviolet;
    border-radius: 50%;
    width: 5%;
    height: 10%;
    top : 40%;
    left: 45%;
    color: #ffff;
}

#obstacle_top1 {
    position: absolute;
    top : 50px;
    width: 100%;
    height: 5px;
    background-color: black;
}

#obstacle_bottom1 {
    position: absolute;
    bottom : 100px;
    width: 100%;
    height: 5px;
    background-color: black;
}

#player_bar1 {
    position: absolute;
    background-color: black;
    width: 1%;
    height: 20%;
    left: 1%;
    top: 30%;
    bottom : 50%;
}

#com_bar1 {
    position: absolute;
    background-color: red;
    width: 1%;
    height: 25%;
    left : 98%;
    top: 30%;
    bottom : 50%;
}

#obstacle1_no {
    position: absolute;
    background-color: black;
    width: 1%;
    height: 20%;
    color: #ffff;
    left: 30%;
    top : 60px;
}

#obstacle2_no {
    position: absolute;
    background-color: RED;
    width: 1%;
    height: 10%;
    color: #ffff;
    left: 60%;
    top : 60px;
}

#resetImg1 {
    position: absolute;
    width: 100px;
    height: 50px;
    top:90%;
    right:0%;
    color: #ffff;
}

#startImg1 {
    position: absolute;
    width: 100px;
    height: 50px;
    top:0%;
    left:100%;
    color: #ffff;
}

#stopImg1 {
    position: absolute;
    width: 100px;
    height: 50px;
    top:90%;
    right : 100px;
    color: #ffff;    
}

#userNameDiv1 {
    position: absolute;
    padding: 2px;
    top: 0px;
}

#userNameDiv2 {
    position: absolute;
    padding: 2px;
    top: 0px;
    left: 600px;
}

/*naver group_nav 만들어줘*/
#group_nav_game {
    display: inline;
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    z-index: 100;
}

/* group_nav_game의 li들을 오른쪽 끝에서 부터 정렬해줘 */
#group_nav_game li {
    display: inline-block;
    float: right;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    cursor: pointer;
    margin-right: 10px;
    border: 1px;
    border-style: solid;
}