.rankPageContainer1 {
    position: absolute;
    width: 30%;
    height: 10%;
    top: 10%;
    left: 40%;
    /* border: 1px solid black; */
}

#btn-toss-model {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

    width: 100%;
    background: -webkit-linear-gradient(left, #43cea2, #189d61); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #43cea2, #9d1896); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #43cea2, #185a9d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #43cea2, #18999d); /* Standard syntax */
}

#rank-page-input1 {
    width: 100%;
}

#container-rank-page{
    position: absolute;
    width: 30%;
    height: 100%;
    top: 20%;
    left: 0%;
    border: 1px solid black;
    
}